name: deb

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y debhelper-compat dh-make build-essential

      - name: Build deb
        run: dpkg-buildpackage -us -uc

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: kbfix-deb
          path: ../kbfix_*.deb
